/* Base Styling */
html, body {
  margin: 0;
  color: #4d4d4d;
  background-color: white;
  font-family: "Montserrat", Verdana, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5;
  margin-top: 0.67rem;
  margin-bottom: 0.67rem;
}

h1 {
  font-size: 3.15rem;
  font-weight: bold;
  font-family: "Merriweather", Georgia, serif;
  line-height: 1.3;
}

h2 {
  font-size: 2.2rem;
  font-weight: bold;
  font-family: "Merriweather", Georgia, serif;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.85rem;
}

h6 {
  font-size: 0.7rem;
}

p {
  font-size: 0.85rem;
}

/* Header Styling */
header {
  position: fixed;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid lightgray;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 4rem;

  font-size: 1.2rem;
}

.logo {
  display: flex;
  align-items: center;

  margin-left: 1.5rem;
}

header .logo img {
  height: 3rem;
}

.logo span {
  font-weight: bold;
}

.logo span:last-child {
  color: #d9d9d9;
  font-weight: normal;
}

nav {
  margin-right: 1.5rem;
}

nav span {
  margin-left: 1rem;
}

nav span a {
  color: inherit;
  text-decoration: none;
}

.header-mobile {
  display: none; /* To be toggled for mobile view */
}

@media only screen and (max-width: 608px) { /* Mobile Sytling */
  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: white;

    width: 100%;
    height: 4rem;

    border-bottom: 0.0625rem solid lightgray;
  }
  nav {
    margin-right: 0;
  }
  nav span {
    margin-left: 0;
  }
  .header-mobile .mob-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header-mobile .mob-nav a img {
    margin-top: 0.5rem;
    height: 2rem;
    width: auto;
  }
}

/* First Container Styling */
.first-container {
  position: relative;
  top: 4.0625rem;

  background-color: lightgray;
  width: 100%;
  height: auto;

  display: flex;
}

.first-container .first-left {
  max-width: 58%;
  margin: 2rem 1.5rem;
  /* align-self: center; */
}

.first-container .first-left img {
  width: 100%;
  height: auto;
}

.first-container .first-right {
  margin: 2rem 0;
  margin-right: 1.5rem;
  width: 28rem;
  flex-shrink: 0;
  align-self: center;
}

.first-right h3 {
  font-weight: 500;
  font-size: 1.4rem;
}

.first-container h4 {
  padding: 0.5rem 0;
  margin-top: 1rem;
  width: 100%;
  background-color: #4d4d4d;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 608px) { /* Mobile Sytling */
  .first-container .first-left {
    display: none;
  }
  .first-container {
    justify-content: center;
  }
  .first-container .first-right {
    margin-right: 0;
  }
}

/* Second Container Styling */
.second-container {
  width: 100%;
  height: auto;

  position: relative;
  top: 4.0625rem;

  margin-bottom: 2rem;

  display: flex;
}

.second-container .first-left {
  max-width: 58%;
  margin: 2rem 1.5rem 0rem 1.5rem;;
  align-self: center;
}

.second-container .first-left img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.second-container .columns {
  margin-right: 1.5rem;
  margin-bottom: -1rem;
  width: 28rem;

  display: flex;
  flex-flow: column;
  flex-shrink: 0;
}

.column {
  display: flex;
  flex-shrink: 0;
}

.small-image {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.small-image img {
  width: 100%;
  height: auto;
}

.first-column {
  margin-top: 1rem;
}

.column-text {
  width: 65%;
  height: auto;
  margin: 1rem 0;
  align-self: center;
}

.columns .column:last-child {
  background-color: lightgray;
}

.mobile-image {
  display: none; /* To be toggled for mobile view */
}

@media only screen and (max-width: 608px) { /* Mobile Sytling */
  .second-container .first-left {
    display: none;
  }
  .second-container {
    justify-content: center;
  }
  .second-container .columns {
    margin-right: 0;
  }
  .columns .column:last-child {
    background-color: white;
  }
  .columns .column {
    flex-flow: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 1.5rem;
    background-color: white;
  }
  .desktop-image {
    display: none;
  }
  .mobile-image {
    display: block;
  }
  .small-image {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .column-text {
    align-self: left;
    margin-left: 1rem;
    width: 100%;
  }
}

/* Third Container */
.third-container {
  position: relative;
  top: 4.0625rem;

  padding: 2rem 0 1rem 0;

  width: 100%;
  height: auto;

  background-color: lightgray;
}

.third-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.courses-list {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course {
  width: 17rem;
  height: auto;
  margin: 1rem;
  background-color: white;
}

.course img {
  width: 100%;
  height: auto;
}

.course-text {
  padding: 1rem 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.course-text h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: gray;
}

.course-text h3 {
  margin-bottom: 0.5rem;
}

.second-column {
  margin-top: 2rem;
}

.third-container-mobile {
  display: none; /* To be toggled for mobile view */
}

@media only screen and (max-width: 608px) { /* Mobile Sytling */
  .third-container {
    background-color: white;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  .third-container-desktop {
    display: none;
  }
  .third-container-mobile {
    display: block;
  }
  .buttons {
    width: 28rem;
    margin: 0 auto;
  }
  .buttons h3 {
    background-color: lightgray;
    margin: 1rem 0;
    padding: 1.5rem 1rem;
  }
}

/* Fourth Container */

.fourth-container {
  position: relative;
  top: 4.0625rem;
  padding: 2rem 0 0.5rem 0;
}

.fourth-container .second-container{
  position: relative;
  top: 0;
}

.fourth-container h2 {
  text-align: center;
}

.second-container .first-left video {
  width: 100%;
  height: auto;
}

.fourth-container .second-container .columns .column:first-child {
  background-color: lightgray;
}

.fourth-container .second-container .columns .column:last-child {
  background-color: white;
}

.fourth-container-mobile {
  display: none; /* To be toggled for mobile view */
}

@media only screen and (max-width: 608px) { /* Mobile Sytling */
  .fourth-container-desktop {
    display: none;
  }
  .fourth-container-mobile {
    display: block;
    width: 100%;
  }
  .fourth-container-mobile video {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    width: 100%;
  }
}

/* Footer */
footer {
  position: relative;
  top: 4.0625rem;

  background-color: white;

  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 4rem;

  border-top: 0.0625rem solid lightgray;
}

footer nav span, footer span, footer nav {
  font-size: 0.7rem;
  padding-top: 1rem;
}

footer nav {
  margin-right: 1.5rem;
}

footer .credits {
  margin-left: 1.5rem;
}

@media only screen and (max-width: 608px) { /* Mobile Sytling */
  .footer-desktop {
    display: none;
  }
  footer span {
    padding-top: 0;
    align-self: center;
  }
}
